 

.bg-docnhalang{
    background-image: url('https://live.staticflickr.com/65535/52253442418_dcbffc95a5_o.png');
}

.bg-steam{
    background-image: url('https://live.staticflickr.com/65535/52253921060_5846d295c2_o.png');
}

.bg-artTech{
    background-image: url('https://live.staticflickr.com/65535/52252463067_221b4d3acd_o.png');
}

