@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.text18px600{
  font-size: 18px;
  font-weight: 600;
}

.b{
  border: #1a1a1a 1px solid;
}

:root {
  font-family: 'Be Vietnam Pro', sans-serif !important;

}

.px{
  padding-left: 2rem;
  padding-right: 2rem;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
:root::-webkit-scrollbar{
  display: none;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .px-8{
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  :root  .px-8{
   
      padding-left: 20px !important;
      padding-right: 20px !important;
 
  }
}

 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  
  }

  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
